*{
//  outline: 1px solid red;
}

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400");
html, body {
    text-align: center;
    color: white;
}
body {
    position: relative;
    height: 100% ;
    font-family: "Roboto Slab", serif;
    background: #222;
}
 p {
	 font-weight: 100;
	 font-size: 20px;
	 letter-spacing: 1px;
	 color: #e3e3e3;
}
.container {
    text-align: center;
}
.row {
    display: flex;
     align-items: center;
    justify-content: center;
}
.drumpad {
    width: 480px;
    display: inline-flex;
    flex-direction: column;
    margin: 50px auto;
}
button{
    position: relative;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background: rgba(130, 130, 130, 0.4);
    color: rgba(255, 255, 255, 0.6);
    font-size: 40px;
    font-weight: 300;
    box-shadow: inset 0 0 5px 3px rgba(255, 255, 255, 0.2);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    transition: all .07s ease;

}


.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

button.yellow {
        background-image: radial-gradient(#e5c134, #9f8314);
}
button.green {
	 background-image: radial-gradient(#8cd277, #53aa39);
}
button.blue {
	 background-image: radial-gradient(#4faed4, #257798);
}
button.purple {
	 background-image: radial-gradient(#d64aac, #972374);
}
button.red {
	 background-image: radial-gradient(#b30000, #4d0000);
}
button.pink {
	 background-image: radial-gradient(#00b3b3, #004d4d);
}
 .key.playing {
	 opacity: 1;
}
 

button > * {
  pointer-events: none;
}

